extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    ul(class='social list-inline')
      li
        a(href='/auth/google', class="googleplus") 
          i(class="fa fa-google-plus")
      li
        a(href='/auth/twitter', class="twitter") 
          i(class="fa fa-twitter")
      li
        a(href='/auth/facebook', class="facebook") 
          i(class="fa fa-facebook")
      li
        a(href='/auth/github', class="github") 
          i(class="fa fa-github")
      li
        a(href='/auth/linkedin', class="linkedin") 
          i(class="fa fa-linkedin")
